<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>사용자 상세 조회</title>
  <link href="/css/common/common.css" rel="stylesheet" />
  <link href="/css/common/header.css" rel="stylesheet" />

  <th:block th:replace="~{fragments/header::headerFragment}"></th:block>
</head>
<body>

<div>
  <div>
    <img th:src="@{/images/profile-icon.png}">
    <p th:text="${member.nickname}"></p>
    <p th:text="가입일 + ${member.createdAt}"></p>
    <p th:text="${member.memberStatus}"></p>
  </div>
  <div>
    <table>
      <tr th:each="bookmarks : ${member.bookmarkResponses}">
      <td th:text="${bookmarks.getAddress()}"></td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>