<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Webcrumbs Plugin</title>
  <!-- 공통 스타일 -->
  <link href="/css/common/common.css" rel="stylesheet" />
  <!-- 헤더 스타일 -->
  <link href="/css/common/header.css" rel="stylesheet" />

  <link href="/css/feedback/list.css" rel="stylesheet" />
</head>
<aside>
  <th:block th:replace="~{fragments/header::headerFragment}"></th:block>
</aside>
<body>
<aside><th:block th:replace="~{fragments/sidebar::sidebarFragment}"></th:block></aside>
<table th:each="member : ${members.content}">
  <tr>
    <td th:text="${member.nickname}"></td>
    <td th:text="${member.updatedAt}"></td>
    <td th:text="${member.memberStatus}"></td>
  </tr>
</table>


</body>
</html>