<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>탈퇴 사용자 조회</title>
  <link href="/css/common/common.css" rel="stylesheet" />
  <link href="/css/common/header.css" rel="stylesheet" />
  <th:block th:replace="~{fragments/header::headerFragment}"></th:block>
</head>
<body>
<div>
<table>
  <tr>
    <td>프로필</td>
    <td>이름</td>
    <td>요청 날짜</td>
    <td>삭제 요청</td>
  </tr>
  <tr th:each="member : ${members.content}">
    <td th:text="${member.nickname}"></td>
    <td th:text="${member.updatedAt}"></td>
    <td th:text="${member.memberStatus}"></td>
  </tr>
</table>
</div>

</body>
</html>