<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Signal Buddy - 계정 관리</title>
  <th:block th:replace="~{fragments/header::headerStyles}"></th:block>
  <link href="/css/member/info.css" rel="stylesheet">
</head>
<body>
<!-- 헤더 파일 -->
<th:block th:replace="~{fragments/header::headerFragment}"></th:block>
<div class="bg-neutral-100 shadow rounded-lg mx-auto">
  <main class="flex px-6 py-10">
    <!--  마이페이지 사이드바  -->
    <aside th:replace="~{fragments/sidebar::sidebarFragment}"></aside>
    <!--  본문 시작  -->
    <section class="flex-1 bg-white shadow rounded-md ml-6 p-8"><h2
        class="font-title text-neutral-950 text-xl mb-8">계정 관리</h2>
      <div class="flex items-center justify-center mb-6">
        <img alt="Profile" class="rounded-full profile-img"
             th:src="${'/api/members/files/' + member.profileImageUrl}">
      </div>
      <div class="space-y-4">
        <div class="input-box">
          <div class="flex flex-col input-value">
            <label class="text-neutral-600 text-sm mb-1">이메일</label>
            <input class="w-full border border-neutral-300 p-2 rounded-md text-sm text-neutral-600"
                   id="email" th:value="${member.email}" type="text"/>
          </div>
          <div class="flex flex-col input-value">
            <label class="text-neutral-600 text-sm mb-1">닉네임</label>
            <input class="w-full border border-neutral-300 p-2 rounded-md text-sm text-neutral-600"
                   id="nickname" th:value="${member.nickname}" type="text"/>
          </div>
          <div class="flex flex-col input-value">
            <label class="text-neutral-600 text-sm mb-1">비밀번호</label>
            <input class="w-full border border-neutral-300 p-2 rounded-md text-sm text-neutral-600"
                   id="password" type="text"/>
          </div>
          <div class="mt-6 flex justify-center space-x-4">
            <!-- TODO : Path Variable 수정 필요 -->
            <a class="px-6 py-2 rounded-md bg-neutral-950 text-neutral-50 cancel" href="/members/1">취소</a>
            <button class="px-6 py-2 rounded-md bg-neutral-950 text-neutral-50" th:attr="data-id=${member.memberId}" onclick="editBtn(this)">확인</button>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<script>
  const editBtn = (btn) => {
    const email = document.querySelector('#email').value;
    const nickname = document.querySelector('#nickname').value;
    const password = document.querySelector('#password').value.trim();
    const id = btn.dataset.id;

    const params = {
      email,
      nickname
    }
    if(password) {
      params.password = password
    }
    fetch(`/api/members/${id}`, {
      method: "patch",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(params),
    })
    .then(response => {
      return response.json();
    })
    .then(data => {
      console.log('업데이트 성공:', data);
      alert("수정이 완료되었습니다.")
      // TODO : Path Variable 수정 필요
      window.location.href = '/members/1'
    })
    .catch(error => {
      console.error('업데이트 실패:', error);
    });
  }

</script>
</body>
</html>